header
{
    display: flex;
    
}

#header
{
    display: flex;
    justify-content: space-between;
    background-color: red;
    height: 75px;
}

.name_app
{
    margin-left: 1%;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    color: yellow;
}

.profil_picture
{
    width: 6%;
    margin: 1%;
    border-radius: 60%;
}

#card
{
    border-color: black;
}

.pokemon_picture
{
    height: 65%;
}

.pokemon_name
{
    height: 30%;
    border-top: black;
}